body{
    background-color: rgba(44, 156, 193, 0.866);
}
#countlabel{
    display: block;
    font-size: 10em;
    color:rgba(254, 254, 255, 0.941);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btncontainer{
    text-align: center;
}
.btn{
    padding: 10px 20px;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:whitesmoke;
    background-color: rgb(10, 9, 12);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.btn:hover{
    background-color: rgb(75, 73, 73);
    
}
